{% extends "employe/base.html" %}
{% block content %}

    <div class="w-full bg-base-200">
        <div>
            <a href="#" class ="btn btn-primary w-full">Add Employee</a>
        </div>
        <div class="space-y-4 w-full">
            {% for employe in employes %}
                <div class="p-4 bg-base-100 rounded-lg w-full flex justify-between items-center">
                    <div class="space-y-2">
                        <p class="font-bold text-lg">{{employe.name}}</p>
                        <p class="badge badge-soft badge-primary">{{employe.email}}</p>
                        <div class="flex gap-2">
                            <p class="badge badge-soft badge-primary">{{employe.position}}</p>
                            <p class="badge badge-dash badge-primary">{{employe.salary}} €</p>
                        </div>
                    </div>
                    <div class="space-x-2">
                        <a href="#" class ="btn btn-primary btn-sm">Edit</a>
                        <a href="#" class ="btn btn-primary btn-soft btn-sm">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}